<div class="mensagens">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">

        <mat-card class="apresentacao">
          <mat-card-title>Bem vindo ao Sistema de Gerenciamento de rendimento Acadêmico !</mat-card-title>

          <mat-card-content>
            <mat-list>
              <mat-list-item>Aqui você poderá :
              </mat-list-item>
              <mat-list-item> <i class="material-icons sucesso">check</i> Importar notas dos alunos
              </mat-list-item>
              <mat-list-item> <i class="material-icons sucesso">check</i> Consultar o rendimento escolar
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
